modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App Server"

[[workflows.workflow]]
name = "Android App Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew :app:installDebug && adb shell am start -n com.animeai.app/.MainActivity"

[deployment]
run = ["sh", "-c", "./gradlew :app:installDebug && adb shell am start -n com.animeai.app/.MainActivity"]
